{{ define "main" }}

{{ partial "page-title.html" . }}

<section class="section pt-0">
  <div class="container">
    <div class="row">
      {{ $paginator := .Paginate .Data.Pages }}
      {{ range $paginator.Pages }}
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="card border-0 text-center card-product-grid">
          <a href="{{ .Permalink }}">
            {{ range first 1 .Params.Images }}
            {{ $image := resources.Get .image }}
            <img src="{{ ($image.Fill " 255x170" ).RelPermalink }}" alt="{{ .Title }}" class="card-img-top rounded">
            {{ end }}
          </a>
          <div class="card-body">
            <a href="{{ .Permalink }}" class="h4">{{ .Title }}</a>
            <p>{{ .Params.Description }}</p>
            <div class="mb-4">
              {{ if .Params.PriceBefore }}
              <s>{{ site.Params.currencySymbol }}{{ .Params.PriceBefore }}</s>
              {{ end }}
              <span class="lead text-primary">{{ site.Params.currencySymbol }}{{ .Params.Price }}</span>
            </div>
            <a href="{{ .Permalink }}" class="btn btn-primary mt-4" id="item-button">
              Add to cart
            </a>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
    {{ template "_internal/pagination.html" . }}
  </div>
</section>

{{ partial "cta.html" . }}

{{ end }}